/* colores y fuentes */

@font-face{
    font-family: qb;
    src: url("../fonts/fuente-qb.otf");
    font-weight: normal; 
}

@font-face{
    font-family: mont;
    src: url("../fonts/fuente-mm.ttf");
    font-weight: normal; 
}

$color-titulo: #fff;
$color-subtitulo: #fff;

$color-parrafo-dark: #0000;
$color-parrafo-light: #fff;

$fuente-titulo: qb;
$fuente-parrafos: mont;


